body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dadada, #f3f3f3);
}


header {
    background-color: #B5121B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* logo izq + texto al lado */
    padding: 10px 40px;
    height: 7vh;
}

header img {
    height: 50px;  /* ajusta el tamaño del logo */
    margin-right: 10px;
}

header h1 {
    font-size: 23px;
    margin: 0;
    font-weight: bold;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #ffffff;
    position: absolute;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-box img {
    width: 100px;
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    margin: 8px 0 4px;
    font-size: 14px;
    font-weight: bold;
    color: #4b2c5e;
}

.login-box input {
    width: 93%;
    padding: 12px;
    margin-bottom: 12px;
    margin-right:10%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #C8102E;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #970c23;
}

.extra {
    margin-top: 15px;
    font-size: 13px;
}

.extra a {
    color: #C8102E;
    text-decoration: none;
}



.extra a:hover {
    text-decoration: underline;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    color: #C8102E;
}

/* Custom dropdown */
.dropdown {
    position: relative;
    font-size: 13px;
    color: #C8102E;
    cursor: pointer;
}

.dropdown-selected {
    padding: 5px 10px;

}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 4px;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    margin: 4px 0 0 0;
    width: max-content;
    z-index: 100;
}

.dropdown-list li {
    padding: 6px 12px;
    color: #C8102E;
}

.dropdown-list li:hover {
    background: #C8102E;
    color: white;
}

.cookies {
    cursor: pointer;
}





